/* /////////////////////////MEDIA QUERIES */
@media only screen and (max-width: 940px) {
    .GlobalContainer {
        display: grid;
        margin-right: 5vw;
        margin-left: 5vw;
     
    }

    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 3);
        grid-gap: var(--gridGap);
        color: var(--textcolor);
        z-index: 10;

    }
    
    #templateAPI{
        grid-template-columns: 15% 23.3% 23.4% 23.3% 15%;
        grid-column: 2/5;
    }

    .product-detail{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .product-img{
        /* position: absolute; */
        left: 0;
        margin-top: -3vh;
        /* margin-left: 5vw; */
        padding: 0 5vw;
        width: var(--imgWidth);
        height: var(--imgHeight);
      
    }
}




@media only screen and (max-width: 400px) {
    
    body{
        
    }
    #templateAPI{
        grid-template-columns: 1fr 1fr;
        grid-row: 3/4;
        margin-left: 10vw;
        margin-right: 10vw;
        
    }
    .product-detail{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    

    
    .Title{
        grid-column: 1/2;
    }
    
    
    
    nav{
        margin-top: -3em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: relative;
    }
    #navID > p {
        display: block;
    }
    
    #navID > p:hover{
        
        transition: 0.2s;
    font-size: 5vw;
}

footer{
    display: flex;
    justify-content: space-around;
}

}

@media only screen and (max-width: 280px) {

      .product-detail{
        grid-template-columns: 1fr 1fr;
    }

}